.footer{
  .copyright{
    text-align: center;
    line-height: 70px;
    background-color: rgb(48, 50, 61);
    color: $color-bright;
  }
  @include mq('sp'){
    .copyright{
      font-size: 13px;
    }
  }
}
