.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
  background: rgba(48, 50, 61, .8);
  &-inner{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: $color-bright;
  }
  &-logo{
    font-size: 3.2rem;
  }
  &-links{
    @include mq('sp'){
      position: fixed;
      width: 100%;
      top: 70px;
      left: 100%;
      background: rgba(48, 50, 61, .8);
      height: 100vh;
      z-index: 10;
      transition: all .4s;
    }
  }
  &-menu{
    line-height: 70px;
    @include mq('sp'){
      position: absolute;
      top: 7%;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 16px;
    }
    a{
      display: inline-block;
      padding: 0 16px;
      margin-right: 24px;
    }
    li:last-child a{
      margin-right: 0;
    }
    a{
      @include mq('sp'){
        margin-right: 0;
      }
    }
    @include mq('pc'){
      a:hover{
        background-color: rgba(248, 140, 45, .8);
      }
    }
    @include mq('tab'){
      a{
        margin-right: 8px;
        &:hover{
          background-color: rgba(248, 140, 45, .8);
        }
      }
    }
  }
  &-list{
    display: flex;
    @include mq('sp'){
      flex-direction: column;
    }
  }
  // ハンバーガーボタン
  .drawer-btn{
    display: block;
    position: relative;
    transition: all .4s;
    width: 38px;
    height: 24px;
    z-index: 100;
    padding: 0;
    transform: translateY(-8px);
    &:focus{
      outline: none;
    }
    @include mq('pc'){
      display: none;
    }
    @include mq('tab'){
      display: none;
    }
    // ハンバーガーボタン下のMenuとCloseのスタイル
    .drawer-text{
      width: 100%;
      position: absolute;
      bottom: -22px;
      left: 0;
      text-align: center;
      font-size: 1.1rem;
    }
    .drawer-close{
      display: none;
    }
    // スクリーンリーダー用テキスト
    .drawer-visuallyHidden{
      position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
    }
  }
  // ３本線
  .bar{
    display: block;
    transition: all .4s;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: currentColor;
    &::before, &::after{
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      transition: all .4s;
    }
    &::before{
      top: -9px;
    }
    &::after{
      top: 9px;
    }
  }
}

// SP版の制作実績ページの背景透過無し
.archive, .website, .wordpress, .other{
  @include mq('sp'){
    .header{
      background: rgb(88, 89, 98);
    }
  }
}

// -----------------------
// JSで変更される箇所
// -----------------------
.header-links.is-active{
  left: 0;
}
.drawer-btn.is-active .bar{
  background-color: transparent;
}
.drawer-btn.is-active .bar::before{
  transform: translateY(9px) rotate(-315deg);
}
.drawer-btn.is-active .bar::after{
  transform: translateY(-9px) rotate(315deg);
}
.drawer-menuText.is-active{
  display: none;
}
// デフォルトよりネストが浅いのでimportantを付与
.drawer-close.is-active{
  display: block !important;
}
body.noScroll{
  overflow: hidden;
}
