// -----------------------
// ボタンのスタイル
// -----------------------
.link-btn{
  display: block;
  margin: 0 auto;
  a{
    background-color: $accent-color;
    color: #f5f5f5;
    border-radius: 5px;
    padding: 14px 16px;
    font-size: 18px;
    font-weight: $fw-base;
    display: inline-block;
    @include mq('sp'){
      font-weight: bold;
      letter-spacing: .11em;
    }
    &:hover, &:focus{
      background-color: #28536B;
      color: #f5f5f5;
    }
  }
}
.about-content .link-btn{
  margin-left: 0;
  @include mq('sp'){
    margin: 0 auto;
  }
}


// スクロールトップボタン
.scrollTop {
  position: relative;
  position: fixed;
  right: 8px;
  bottom: 8px;
  width: 50px;
  height: 50px;
  background: $accent-color;
  border-radius: 50%;
  display: none;
  &:hover, &:focus{
    transform: translateY(-5px);
    transition: all .7s;
  }
  .fa-chevron-up {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
  }
}

// jsで変更される箇所
.is-fadein {
  display: block;
  cursor: pointer;
}
